td {
  line-height: 16pt;
	font-size: 10pt;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #FF3333;
}
body {
	font-size: 10pt;
	line-height: 13pt;
/*	background-color: #ECF5FF; */
	background:url('images/bg.jpg') #f2f2f2;
}
.border {
	border: 1px solid #1D5892;
}
textarea {
	font-size: 8pt;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	border: 1px solid #999999;
	padding: 5px;


}
select {
	font-size: 8pt;
	padding: 1px;
	font-family: "Tahoma";
}
.a1:link {
	color: #FFFFFF;
}
.a1:visited {
	color: #FFFFFF;
}
.a1:hover {
	color: #FF9900;
}
.font14 {
	font-size: 14px;
	font-family: "Tahoma";
}
form {
	margin: 0px;
	padding: 0px;
}
.alpha {
	filter: Alpha(Opacity=20);
}
.filearea {
	font-size: 9pt;
}
.textdrow {
	color:#666666;
	filter: DropShadow(Color=white, OffX=1, OffY=1, Positive=1);
}
.font18 {
	font-size: 19px;
}
.p {
	text-indent: 24px;
}
.font16 {
	font-size: 16px;
}
.border2 {
	border: 1px solid #D5E4F4;
}
.xborder {
	border: 2px dotted #EBF5FE;
}


#submit{
	
	/* The submit button */
	
	background-color:#58B9EB;
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	margin-top:5px;
	margin-left: 10px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.comment, #addCommentContainer{
	
	/* Syling the comments and the comment form container */
	
	padding:12px;
	width:400px;
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	margin-bottom:25px;
	
	/* CSS3 rounded corners and drop shadows */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
}

.comment .name{
	text-align: left;
	position: relative;
	top:10px;
	left:10px;
	font-size:20px;
	padding-bottom:10px;
	color:#ccc;
}

.comment .datetime{
	font-size:10px;
	padding:6px 0;
	margin-bottom: 10px;
	position:absolute;
	right:15px;
	top:20px;
	color:#bbb;
}

.comment .num{
	text-align: right;
	position: relative;
	color:#58B9EB;
}

.comment p,
#addCommentContainer p{
	margin-right: 15px;
	text-align: justify;
	position: relative;
	left:10px;
	font-size:18px;
	line-height:1.5;
	overflow-x:hidden;
}

#addCommentContainer input[type=text],
#addCommentContainer textarea{

	/* Styling the inputs */

	display:block;
	border:1px solid #ccc;
	margin:10px 10px 10px 10px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

#addCommentContainer textarea{
	width:380px;
}

label{
	padding-left: 10px;
	text-align: left;
	font-size:16px;
}

